<h1>Categories</h1>

<ul>
  <% @categories.each do |category| %>
    <li><%= link_to category.name, category %></li>
  <% end %>
</ul>

<%= form_for @new_category do |f| %>
  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div>
    <%= f.submit "Create category" %>
  </div>
<% end %>
