<h1>Categories</h1>

<%= render @categories %>

<%= form_for @new_category do |f| %>
  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div>
    <%= f.submit "Create category" %>
  </div>
<% end %>
